@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

header {
  padding: 12px 0;
  background-color: #1f2937;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  gap: 24px;
  display: flex;
}

.link a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
  margin-right: auto;
}

.hero-container {
  background-color: #1f2937;
  padding: 48px 0;
}

.hero {
  max-width: 1200px;
  padding: 5em 0;
  margin: 0 auto;
  display: flex;
  color: #f9faf8;
  justify-content: space-between;
}

.hero-left {
  max-width: 450px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
}

.hero-sub-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-right {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.hero-sign-up {
  background-color: #3882f6;
  border: none;
  color: #f9faf8;
  font-size: 18px;
  padding: 8px 28px;
  font-weight: 500;
  border-radius: 8px;
  margin-top: 8px;
}

.info-header {
  padding: 48px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.info-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 120px;
}

.info {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.info-img {
  border: 2px solid #3882f6;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  margin-bottom: 8px;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote-container {
  max-width: 1200px;
  margin: auto;
  padding: 150px 200px;
}

.quote {
  font-size: 36px;
  font-weight: 200;
}

.quote-author {
  text-align: right;
  font-size: 18px;
}
